<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.ouyikonggu.dao.RegistDAO">
	<resultMap id="countMap" type="Count" >  
		<id column="id"  property="id" />
         <result column="cpId" property="cpid"/>
        <result column="pV" property="pV"/>
        <result column="uV" property="uV"/>
        <result column="cAddTime" property="cAddTime"/>
     <association property="cpro" javaType="Product">
        	<id column="pid"  property="id" />
        <result column="pTitle" property="pTitle"/>  
        <result column="pcid" property="pcid"/>
        <result column="pActivate" property="pActivate"/>
        </association>   
    </resultMap>  
    
	  <select id="queryRegist" parameterType="java.util.HashMap" resultMap="countMap">
	      select  
	 		a.*,b.*
	 		from co_regist  as  a  left join co_products as b  on  a.cpId = b.pid  
	        <where>
	     		  a.id!='' and  a.id is not NULL	
	        	   <if test="startTime!=null and !&quot;&quot;.equals(startTime.trim())">  
         				and a.cAddTime >=#{startTime}    
       				</if>  
				    <if test="endTime!=null and !&quot;&quot;.equals(endTime.trim())">  
				        and  a.cAddTime &lt;=#{endTime}  
				    </if>  
				     <if test="pTitle!=null and !&quot;&quot;.equals(pTitle.trim())">  
				        and  b.pTitle like "%"#{pTitle}"%" 
				    </if>  
				    <if test="pcId!=null and pcId!=''">  
				        and  b.pcid=#{pcId}
				    </if>  
				    <if test="CActivate!=null">  
				        and  b.pActivate=#{CActivate}
				    </if>  
	        </where>
	  </select>
	  
	<insert id="add"  parameterType="Count">
		insert into co_regist   (cpId,pV,uV,cAddTime) values (#{cpid},#{pV},#{uV},NOW());
	</insert>    
	
	 <update id="update" parameterType="Count" >
            update co_regist 
            <set>
           		  <if test="pV != null" >  
			       pV = #{pV}
			     </if>  
			      <if test="uV != null" >  
			       , uV = #{uV}
			     </if>  
            </set>
            where cpId = #{cpid} and DATE(cAddTime)=DATE(#{cAddTime} )
        </update>
        
      	<delete id="delete" parameterType="int" >
		    delete from co_regist where cpId=#{deleteId}
		</delete>
	</mapper>