<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="org.ouyikonggu.dao.StandAloneProductDAO">
	<resultMap id="saProductMap" type="org.ouyikonggu.moudel.StandAloneProduct" >  
        <id column="sapId"  property="id" />
        <result column="sapName" property="sapName"/>  
        <result column="sapActivate" property="sapActivate"/>  
        <result column="url" property="url"/>  
    </resultMap>  

		<insert id="add" parameterType="StandAloneProduct" >
	       insert into co_standaloneproduct
		       	( sapName, url,sapActivate) values(#{sapName}, #{url}, #{sapActivate})   
	    </insert>
  
        <select id="selectById" parameterType="int" resultMap="saProductMap">
            select sapId,sapName, url, sapActivate
	 		from co_standaloneproduct where sapId= #{id}   
        </select>
 
     	<update id="update" parameterType="StandAloneProduct" >
            update co_standaloneproduct
            <set>
		      <if test="sapName != null and !&quot;&quot;.equals(sapName.trim())" >  
			      sapName = #{sapName}
			  </if>
			  <if test="url != null and !&quot;&quot;.equals(url.trim())" >  
			       ,url = #{url}
			  </if>
			  <if test="sapActivate != null" >  
			       ,sapActivate = #{sapActivate}
			  </if>
            </set>
            where sapId=#{id}   
        </update>
        
        <delete id="delete" parameterType="java.util.List" >
		    delete from co_standaloneproduct where sapId in
		     <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.id}
          </foreach>
		</delete>
	 	
	 	<select id="queryList" parameterType="org.ouyikonggu.moudel.StandAloneProduct" resultMap="saProductMap">
	 		select sapId,sapName, url,sapActivate  from co_standaloneproduct
	 		<where>	
	 			1=1
	 			<if test="id != null and id>0" > 
				and sapId=#{id}
				 </if>
	 			<if test="sapName != null and !&quot;&quot;.equals(sapName.trim())" > 
				and sapName like "%"#{sapName}"%"
				 </if>
	 		</where>
	 		order by sapId asc 
	 	</select>

	</mapper>